* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

 .container {
     width: 100%;
     display: inline-block;
 }

#nav {
    background-color: #fe5f55;
    width: 100%;
	float: left;
	margin: 0;-left: 20px;
    padding-right: 20px;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
}
    
#nav li {
	float: left; }

#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: white;
	border-right: 1px solid #ccc; }

#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: white;
    border-right: 1px solid #ccc; }
        
.title {
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    background-color: #293462;
    font-size: 6vw;
    text-align: center;
}

#duration {
    width: 10vw;
}

#distance {
    width: 15vw;
}

.filter-box {
    padding-top: 2vw;
    width: 100%;
    display: inline-block;
    text-align: center;
    background: #fff7f7;
}

.car-container {
    background: #fff7f7;
}

.box{
    padding: 20px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-gap: 2vw;
    background-color: #fff7f7;
}

.card{
    border-radius: 10px;
    width: 100%;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #dadada;
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 300px) {
    .box { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 600px) {
    .box { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .box { grid-template-columns: repeat(3, 1fr); }
}

img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
}

.filter-container {
    align-content: center;
}